# .gitignore
# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Arquivos do Docker
data/sales_data.xml  # O XML será gerado automaticamente

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp